<section>
<div class="profile-container">
  <div class="profile-photo">
    <img [src]="profile?.photo" alt="Profile Photo">
  </div>
  
  <div class="profile-details">
    <h2>{{ profile?.name }}</h2>
    <p><strong>ID:</strong> {{ profile?.id }}</p>
    <p><strong>Description:</strong> {{ profile?.description }}</p>
    <p><strong>Interests:</strong> {{ profile?.interests }}</p>
    
    <div class="address">
      <p><strong>Address:</strong> {{ profile?.address }}</p>
      <p><strong>City:</strong> {{ profile?.city }}</p>
      <p><strong>State:</strong> {{ profile?.state }}</p>
      <p><strong>Country:</strong> {{ profile?.country }}</p>
      <p><strong>Postal Code:</strong> {{ profile?.code }}</p>
    </div>
  </div>
</div>
</section>
<section>
  <div  class="allUserMap">
    <app-map [mapMarkers]="profileMapMarkers"></app-map>
  </div>
</section>